<span>
    <img class="me-2" src="images/icons/@IconPath" alt="@Title" title="@Title" height="20px" />
    <a href="@Url" target="_blank" onMouseOver="this.style.color = '#4c1048'" onMouseOut="this.style.color = 'var(--pansy-purple)''">
        @Text
    </a>
</span>

@code
{
    [Parameter] public string IconPath { get; set; } = String.Empty;
    [Parameter] public string Title { get; set; } = String.Empty;
    [Parameter] public string Url { get; set; } = String.Empty;
    [Parameter] public string Text { get; set; } = String.Empty;
}
