<div class="my-5">
    <h3>@Label</h3>
        <div class="d-inline-flex flex-wrap justify-content-evenly" style="width: 30rem">
            @for (int i = 0; i < IconPaths.Length; i++)
            {
                <div class="d-flex flex-column m-2">
                    <img src="images/icons/@IconPaths[i]" alt="@Titles[i]" title="@Titles[i]" height="100px" />
                    <span>@Titles[i]</span>
                </div>
            }
        </div>
</div>

@code
{
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string[] IconPaths { get; set; } = [];
    [Parameter] public string[] Titles { get; set; } = [];
}
