@using System.Collections.Generic

<div class="p-2">
    <p>@Label</p>
        <div class="d-inline-flex justify-content-evenly" style="width: 30rem">
            @for (int i = 0; i < IconPaths.Length; i++)
            {
                <div class="d-flex flex-column">
                    <img src="images/@IconPaths[i]" alt="@Titles[i]" title="@Titles[i]" height="100px" />
                    <span>@Titles[i]</span>
                </div>
            }
        </div>
</div>

@code
{
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string[] IconPaths { get; set; } = [];
    [Parameter] public string[] Titles { get; set; } = [];
}
