.page {
    position: relative;
    display: flex;
    flex-direction: row;
}

main {
    flex: 1;
    color: var(--pansy-purple);
    height: 100%;
}

.starry-background {
    background-image: url("images/starry-background.png");
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: top;
}


article {
    background-color: #ffe5ed;
    width: fit-content;
    margin-top: 5rem;
    border-radius: 1rem;
    padding: 2rem;
}

@media all and (max-width: 1000px)
{
    article {
        width: 100vw;
        margin-top: 0;
        border-radius: 0;
    }

    img {
        height: 2rem;
    }

    section {
        flex-direction: column;
        flex-wrap: wrap;
        width: fit-content;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
