<div class="my-5 rounded-circle" style="width: 300px">
    <img
        class="rounded-circle shadow rounded"
        src="@_profilePicturePath"
        title="Foto de perfil"
        alt="Foto de perfil"
        style="width: inherit"
    />
</div>

@code
{
    private string _profilePicturePath = "images/foto-de-perfil.png";
}
