.project-displays {
    margin: auto;
    width: 50em;
}

.project-display {
    background-color: hsla(288, 84%, 15%, 0.07);
}

.display-header {
    border-bottom: solid 1px hsl(285, 70%, 20%);
}

.display-body {
    display: flex;
    flex-direction: row;
}

a, a:link, a:visited {
    text-decoration: none;
}

.stylized-link {
    text-decoration: underline!important;
}

a:hover {
    color: #4c1048;
}

img {
    height: 300px;
    width: 390px;
}

@media all and (max-width: 412px) {
    .project-displays {
        width: 100%!important;
    }

    .display-body {
        flex-direction: column;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

@media all and (max-width: 810px) {
    .project-displays {
        margin: 0;
        width: 100%;
    }

    .project-display {
        width: 100%;
    }
}
