.top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.contact-area {
    display: flex;
    flex-direction: column;
    width: 30em;
}

.social {
    text-align: left;
}

.link-icon {
    margin-right: 5px;
}

.picture-area {
    border-radius: 50%;
    width: 20em;
}

.picture-area img {
    width: 100%;
}

.language-container {
    background-color: var(--bs-indigo);
}

@media screen and (max-width: 1000px) {
    .top-content {
        flex-direction: column-reverse;
        width: 90%;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }

    .contact-area {
        width: 100%;
    }

    .social {
        margin: auto;
    }

    .contact-area a {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .picture-area {
        width: 60%;
        margin-bottom: 1rem;
    }
}
