<section class="top-content">
    <div class="contact-area">
        <h1 class="bolder">Igor Borges Kühl</h1>
        <h4>Desenvolvedor de Software</h4>
        <p class="my-4">Estudo por conta própria pela internet com foco no aprendizado para desenvolver páginas web e aplicativos cada vez melhores!</p>
        <p class="fw-bolder">Contatos:</p>
        <div class="social d-flex flex-column">
            @foreach (var info in ContactInfo)
            {
                @for (int i = 0; i < info.Titles.Length; i++)
                {
                    <span>
                        <img
                            class="link-icon"
                            src="images/icons/@info.IconPaths[i]"
                            alt="@info.Titles[i]"
                            title="@info.Titles[i]"
                            height="20rem"
                        />
                        <a href="@info.Urls[i]" target="_blank">@info.Titles[i]</a>
                    </span>
                }
            }
        </div>
    </div>
    <div class="picture-area">
        <img
            class="rounded-circle shadow rounded"
            src="images/foto-de-perfil.png"
            title="Foto de perfil"
            alt="Foto de perfil"
        />
    </div>
</section>

@code
{
    private List<Contact> ContactInfo = new List<Contact>();


    protected override void OnInitialized()
    {
        ContactInfo.Add(new Contact
        {
            IconPaths = new[]
            {
                "discord.svg",
                "instagram.svg",
                "whatsapp.svg",
                "github.svg"
            },
            Titles = new[]
            {
                "Discord",
                "Instagram",
                "WhatsApp",
                "GitHub"
            },
            Urls = new[]
            {
                "https://discord.com/users/1201863684117504020",
                "https://www.instagram.com/igor.borgesk/",
                "https://wa.me/5551995826812",
                "https://github.com/monitzz"
            },
            Texts = new[]
            {
                "igorbkuhl",
                "igor.borgesk",
                "+55 51 99582-6812",
                "monitzz"
            }
        });
    }
}
