/* _content/Portfolio/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-gk0xuebvlm] {
    position: relative;
    display: flex;
    flex-direction: row;
}

main[b-gk0xuebvlm] {
    flex: 1;
    background-color: hsl(260, 40%, 40%);
    height: 100vh;
}

.navbar[b-gk0xuebvlm] {
}

.top-row[b-gk0xuebvlm] {
    background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-gk0xuebvlm]  a, .top-row[b-gk0xuebvlm]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-gk0xuebvlm]  a:hover, .top-row[b-gk0xuebvlm]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-gk0xuebvlm]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-gk0xuebvlm] {
        justify-content: space-between;
    }

    .top-row[b-gk0xuebvlm]  a, .top-row[b-gk0xuebvlm]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-gk0xuebvlm] {
        flex-direction: row;
    }

    .sidebar[b-gk0xuebvlm] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-gk0xuebvlm] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-gk0xuebvlm]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-gk0xuebvlm], article[b-gk0xuebvlm] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-gk0xuebvlm] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-gk0xuebvlm] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Portfolio/Components/Layout/NavMenu.razor.rz.scp.css */
.top-row[b-9rsrfjp5vo] {
    display: flex;
    align-items: baseline;
}

.bi[b-9rsrfjp5vo] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-list-nested-nav-menu[b-9rsrfjp5vo] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-9rsrfjp5vo] {
    font-size: 0.9rem;
}

.nav-item:first-of-type[b-9rsrfjp5vo] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-9rsrfjp5vo] {
    padding-bottom: 1rem;
}

.nav-item[b-9rsrfjp5vo]  .nav-link {
    color: #d7d7d7;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-item[b-9rsrfjp5vo]  a.active {
    color: white;
}

.nav-item[b-9rsrfjp5vo]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
/* _content/Portfolio/Components/Pages/Home.razor.rz.scp.css */
.language-container[b-b5wf3qkphw] {
    background-color: var(--bs-indigo);
}
