@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl;
    }
    
    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
    --wine: hsl(330.3, 60.8%, 28%);
    --dark-wine: hsl(330.3, 30.8%, 28%);
}

html, body {
    background-image: linear-gradient(0deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    color: var(--wine);
}
