@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-wine;
    }
    html * {
        @apply transition-all;
    }
    html.dark {
        @apply text-bubblegum;
    }

    h1 {
        @apply text-4xl;
    }
    
    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-3xl font-medium;
    }

    h4 {
        @apply text-2xl;
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
    --wine: 330.3deg 60.8% 28%;
    --dark-wine: hsl(330.3, 30.8%, 28%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(0deg, #d2b9f9 0%, #ecb9f9 70%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    overflow-x: hidden
}
html.dark {
    background-image: linear-gradient(0deg, hsl(264, 84%, 15%) 0%, #3a0647 70%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    overflow-x: hidden
}
