@page "/"
@inherits LayoutComponentBase

<PageTitle>Home</PageTitle>

<ProfilePicture />

<div class="text-center text-white">
    <h2>Igor Borges Kühl</h2>
    <h4>Desenvolvedor de Software</h4>

    <p>Estudo por conta própria pela internet com foco no aprendizado para desenvolver páginas web e aplicativos cada vez melhores!</p>

    <div class="language-container d-flex flex-row justify-content-evenly">
        <div class="p-2">
            <p>Tenho conhecimento em:</p>
            <ul>
                <li>C#</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </div>

        <div class="p-2">
            <p>Pretendo estudar:</p>
            <ul>
                <li>Blazor</li>
                <li>ASP.NET</li>
                <li>SQL</li>
            </ul>
        </div>
    </div>
</div>

@code
{
}
